<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>
    <title>
        <ui:define name="title">#{msg['addTheme.title']}</ui:define>
    </title>
    <h:outputStylesheet name="bootstrap-3.1.1/css/bootstrap.min.css" library="styles" target="head"/>
    <h:outputStylesheet name="bootstrap-3.1.1/css/bootstrap-theme.min.css" library="styles" target="head"/>
    <h:outputStylesheet name="bootstrap-3.1.1/css/theme.css" library="styles" target="head"/>
</h:head>
<ui:composition template="../templates/defaultLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:define name="content">
        <div class="row marketing">
            <div class="col-lg-4 col-lg-offset-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">#{msg['addTheme.title']}</h3>
                    </div>
                    <div class="panel-body">
                        <h:form>
                            <div class="form-group">
                                <label for="name">#{msg['addTheme.name']}</label>
                                <h:inputText value="#{themesController.theme.name}" label="name"
                                             title="Enter name of theme"
                                             styleClass="form-control" required="true" id="name"/>
                            </div>
                            <div class="form-group">
                                <label for="section">#{msg['addTheme.section']}</label>
                                <h:selectOneMenu value="#{themesController.theme.section.id}" label="section"
                                                 title="Enter name of section"
                                                 styleClass="form-control" required="true" id="section">
                                    <f:selectItems value="#{themesController.sections}" var="section"
                                                   itemValue="#{section.id}" itemLabel="#{section.name}"/>
                                </h:selectOneMenu>
                            </div>
                            <div class="form-group">
                                <label for="content">#{msg['addTheme.content']}</label>
                                <h:inputTextarea value="#{themesController.theme.content}" label="content"
                                                 title="Enter content here"
                                                 styleClass="form-control" required="true" id="content" rows="5"/>
                            </div>
                            <h:commandButton action="#{themesController.saveTheme}"
                                             value="#{msg['addTheme.buttonLabel']}"
                                             class="btn btn-default" />
                        </h:form>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>
</html>