<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>
    <title>
        <ui:define name="title">#{msg['themes.title']}</ui:define>
    </title>
    <h:outputStylesheet name="bootstrap-3.1.1/css/bootstrap.min.css" library="styles" target="head"/>
    <h:outputStylesheet name="bootstrap-3.1.1/css/bootstrap-theme.min.css" library="styles" target="head"/>
    <h:outputStylesheet name="bootstrap-3.1.1/css/theme.css" library="styles" target="head"/>
</h:head>
<ui:composition template="../templates/defaultLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:define name="menuThemes">
        <li class="active"><a>#{msg['header.menu.themes']}</a></li>
    </ui:define>
    <ui:define name="content">
        <div class="row marketing">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a href="listOfSections.xhtml">
                            <small>&lt;- Back to sections</small>
                        </a> &nbsp;
                        #{themesController.themesTitle}
                        <ui:fragment rendered="#{request.isUserInRole('ADMIN')}">
                            <a class="btn btn-xs btn-success pull-right"
                               href="#{themesController.prepareAddTheme()}">#{msg['addThemeButton']}</a>
                        </ui:fragment>

                    </h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <ui:repeat value="#{themesController.themes}" var="theme">
                            <a href="theme.xhtml?id=#{theme.id}" class="list-group-item">
                                <span class="badge">#{theme.section.name}</span>
                                #{theme.name}
                            </a>
                        </ui:repeat>
                    </div>
                    <h:form rendered="#{request.isUserInRole('ADMIN')}">
                        <div class="pull-right">
                            <ul class="list-inline">
                                <li>
                                    <h:commandButton value="#{msg['editSection']}"
                                                     styleClass="btn btn-warning btn-xs pull-right"
                                                     action="#{themesController.prepareEditSection}"
                                                     rendered="#{param['sectionid'] != null}"
                                            />
                                </li>
                                <li>
                                    <h:commandButton value="#{msg['removeSection']}"
                                                     styleClass="btn btn-danger btn-xs pull-right"
                                                     action="#{themesController.removeSection}"
                                                     onclick="return confirm('#{msg['tableActions.deleteConfirmation']}')"
                                                     rendered="#{param['sectionid'] != null}"/>
                                </li>
                            </ul>
                        </div>
                    </h:form>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>
</html>