<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>
    <title>
        <ui:define name="title">#{msg['sections.title']}</ui:define>
    </title>
    <h:outputStylesheet name="bootstrap-3.1.1/css/bootstrap.min.css" library="styles" target="head"/>
    <h:outputStylesheet name="bootstrap-3.1.1/css/bootstrap-theme.min.css" library="styles" target="head"/>
    <h:outputStylesheet name="bootstrap-3.1.1/css/theme.css" library="styles" target="head"/>
</h:head>
<ui:composition template="../templates/defaultLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:define name="menuThemes">
        <li class="active"><a>#{msg['header.menu.themes']}</a></li>
    </ui:define>
    <ui:define name="content">
        <div class="row marketing">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        #{msg['sections.title']}
                        <ui:fragment rendered="#{request.isUserInRole('ADMIN')}">
                            <a class="btn btn-xs btn-success pull-right"
                               href="#{themesController.prepareAddSection()}">#{msg['addSectionButton']}</a>
                        </ui:fragment>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <ui:repeat value="#{themesController.sections}" var="section">
                            <a href="listOfThemes.xhtml?sectionid=#{section.id}" class="list-group-item">
                                <!--<span class="badge">Themes: #{section.themes.size()}</span>-->
                                #{section.name}
                            </a>
                        </ui:repeat>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>
</html>