<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>
    <title>
        <ui:define name="title">#{themesController.initTheme()}</ui:define>
    </title>
    <h:outputStylesheet name="bootstrap-3.1.1/css/bootstrap.min.css" library="styles" target="head"/>
    <h:outputStylesheet name="bootstrap-3.1.1/css/bootstrap-theme.min.css" library="styles" target="head"/>
    <h:outputStylesheet name="bootstrap-3.1.1/css/theme.css" library="styles" target="head"/>
</h:head>
<ui:composition template="../templates/defaultLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:define name="menuThemes">
        <li class="active"><a>#{msg['header.menu.themes']}</a></li>
    </ui:define>
    <ui:define name="content">
        <div class="row marketing">
            <div class="col-xs-9">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            #{themesController.initTheme()} :
                            <a href="listOfThemes.xhtml?sectionid=#{themesController.section.id}">
                                #{themesController.section.name}
                            </a>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <h:form>
                            <ul class="list-inline">
                                <li>
                                    <h:commandButton value="#{msg['editTheme']}"
                                                     styleClass="btn btn-warning btn-xs pull-right"
                                                     action="#{themesController.prepareEditTheme}"
                                                     rendered="#{request.isUserInRole('ADMIN')}"/>
                                </li>
                                <li>
                                    <h:commandButton value="#{msg['removeTheme']}"
                                                     styleClass="btn btn-danger btn-xs pull-right"
                                                     action="#{themesController.removeTheme}"
                                                     rendered="#{request.isUserInRole('ADMIN')}"
                                                     onclick="return confirm('#{msg['tableActions.deleteConfirmation']}')"/>
                                </li>
                            </ul>
                        </h:form>

                        <h1>#{themesController.theme.name}</h1>

                        <p>#{themesController.theme.content}</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Progress
                        </h3>
                    </div>
                    <div class="panel-body text-center">
                        <h:form rendered="#{request.isUserInRole('USER')}">
                            <h:commandButton action="#{progressesController.startProgress}"
                                             value="#{msg['progress.start']}"
                                             styleClass="btn btn-sm btn-primary text-center"
                                             rendered="#{progressesController.isProgressNotStarted(usersController.user, themesController.theme)}"/>

                            <h:commandButton value="#{msg['progress.complete']}"
                                             styleClass="btn btn-sm btn-success text-center"
                                             action="#{progressesController.completeProgress}"
                                             rendered="#{progressesController.isProgressInProgress(usersController.user, themesController.theme)}"/>
                            <ui:fragment
                                    rendered="#{progressesController.isProgressCompleted(usersController.user, themesController.theme)}">
                                <p class="text-center">#{msg['progress.completed']}</p>
                            </ui:fragment>
                        </h:form>
                        <br/>

                        <h:panelGroup layout="block" styleClass="list-group"
                                      rendered="#{request.isUserInRole('ADMIN')}">
                            <ui:repeat value="#{progressesController.getProgresses(themesController.theme)}"
                                       var="progress">
                                <a href="#" class="list-group-item">
                                    #{progress.user.firstName} #{progress.user.lastName}
                                    <br/>

                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar"
                                             aria-valuenow="#{progress.progress}" aria-valuemin="0"
                                             aria-valuemax="100"
                                             style="width: #{progress.progress}%; min-width: 10px;">
                                            #{progress.progress}%
                                        </div>
                                    </div>
                                    <h:form styleClass="form-inline" rendered="#{request.isUserInRole('ADMIN')}">
                                        <h:commandButton value="#{msg['progress.complete']}"
                                                         styleClass="btn btn-success btn-xs pull-left"
                                                         action="#{progressesController.completeProgress}"
                                                         rendered="#{progress.progress != 100}"/>
                                    </h:form>
                                    <br/>
                                </a>
                            </ui:repeat>
                        </h:panelGroup>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>
</html>