<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
    <title><ui:insert name="title">#{msg['index.title']}</ui:insert></title>
    <h:outputStylesheet name="bootstrap-3.1.1/css/bootstrap.min.css" library="styles" target="head"/>
    <h:outputStylesheet name="bootstrap-3.1.1/css/bootstrap-theme.min.css" library="styles" target="head"/>
    <h:outputStylesheet name="bootstrap-3.1.1/css/theme.css" library="styles" target="head"/>
</h:head>

<h:body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <ui:insert name="header">
                <ui:include src="header.xhtml"/>
            </ui:insert>
        </div>
    </div>

    <div class="container theme-showcase">
        <ui:insert name="content">
            <ui:include src="content.xhtml"/>
        </ui:insert>

        <div class="footer">
            <ui:insert name="footer">
                <ui:include src="footer.xhtml"/>
            </ui:insert>
        </div>
    </div>

</h:body>

</html>
