<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
    <ui:composition xmlns="http://www.w3.org/1999/xhtml">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">#{msg['header.banner']}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <ui:insert name="menuHome">
                    <li><a href="#{request.contextPath}/index.xhtml">#{msg['header.menu.home']}</a></li>
                </ui:insert>
                <ui:fragment rendered="#{request.isUserInRole('ADMIN')}">
                    <ui:insert name="menuUsers">
                        <li><a href="#{request.contextPath}/users/list.xhtml">#{msg['header.menu.users']}</a></li>
                    </ui:insert>
                </ui:fragment>
                <ui:insert name="menuThemes">
                    <li><a href="#{request.contextPath}/themes/listOfSections.xhtml">#{msg['header.menu.themes']}</a>
                    </li>
                </ui:insert>
            </ul>
            <ui:fragment rendered="#{request.remoteUser == null}">
                <ul class="nav navbar-nav navbar-right">
                    <ui:insert name="menuSignUp" reendered="#{request.remoteUser != null}">
                        <li><a href="#{request.contextPath}/signUp.xhtml">#{msg['header.menu.signUp']}</a></li>
                    </ui:insert>
                    <ui:insert name="menuLogin">
                        <li><a href="#{request.contextPath}/login.xhtml">#{msg['header.menu.login']}</a></li>
                    </ui:insert>
                </ul>
            </ui:fragment>
            <ui:fragment rendered="#{request.remoteUser != null}">
                <h:form styleClass="navbar-form navbar-right">
                    <h:commandButton action="#{usersController.prepareEditCurrentUser}"
                                     value="#{msg['tableActions.edit']}"
                                     styleClass="btn btn-primary btn-sm"/>
                    <h:commandButton action="#{authenticator.logout}"
                                     value="#{msg['logout']}"
                                     styleClass="btn btn-danger"/>

                </h:form>

                <p class="navbar-text navbar-right">Signed in as <strong>#{request.remoteUser}</strong></p>
            </ui:fragment>
        </div>
    </ui:composition>
</h:body>
</html>