<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
    <title>
        <ui:define name="title">#{msg['index.title']}</ui:define>
    </title>
    <h:outputStylesheet name="bootstrap-3.1.1/css/bootstrap.min.css" library="styles" target="head"/>
    <h:outputStylesheet name="bootstrap-3.1.1/css/bootstrap-theme.min.css" library="styles" target="head"/>
    <h:outputStylesheet name="bootstrap-3.1.1/css/theme.css" library="styles" target="head"/>
</h:head>
<ui:composition template="/templates/defaultLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:define name="menuHome">
        <li class="active"><a>#{msg['header.menu.home']}</a></li>
    </ui:define>
    <ui:define name="content">
        <div class="jumbotron">
            <h1>#{msg['index.title']}</h1>

            <p class="lead">#{msg['index.message']}</p>

            <p class="text-center">
                <ui:fragment rendered="#{request.remoteUser == null}">
                    <a class="btn btn-lg btn-success"
                       href="#{request.contextPath}/login.xhtml">#{msg['index.login.message']}</a>
                    <a class="btn btn-lg btn-primary"
                       href="#{request.contextPath}/signUp.xhtml">#{msg['index.signUp.message']}</a>
                </ui:fragment>
            </p>
        </div>
    </ui:define>
</ui:composition>
</html>