<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
    <title>
        <ui:define name="title">#{msg['login.title']}</ui:define>
    </title>
    <h:outputStylesheet name="bootstrap-3.1.1/css/bootstrap.min.css" library="styles" target="head"/>
    <h:outputStylesheet name="bootstrap-3.1.1/css/bootstrap-theme.min.css" library="styles" target="head"/>
    <h:outputStylesheet name="bootstrap-3.1.1/css/theme.css" library="styles" target="head"/>
</h:head>
<ui:composition template="templates/defaultLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:define name="menuLogin">
        <li class="active"><a>#{msg['header.menu.login']}</a></li>
    </ui:define>
    <ui:define name="content">
        <div class="row marketing">
            <div class="col-lg-4 col-lg-offset-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">#{msg['login.title']}</h3>
                    </div>
                    <div class="panel-body">

                        <h:form>
                            <div class="form-group">
                                <label for="login">#{msg['login.email']}</label>
                                <h:inputText value="#{authenticator.email}" label="login"
                                             title="Enter your email"
                                             styleClass="form-control" required="true" id="login"/>
                            </div>
                            <div class="form-group">
                                <label for="password">#{msg['login.password']}</label>
                                <h:inputSecret value="#{authenticator.password}" label="password"
                                               converter="Char[]Converter" title="Enter your password"
                                               styleClass="form-control" required="true" id="password"/>
                            </div>
                            <h:commandButton action="#{authenticator.authenticate}"
                                             value="#{msg['login.buttonLabel']}"
                                             styleClass="btn btn-success"/>
                        </h:form>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>
</html>