<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>
    <title>
        <ui:define name="title">#{msg['users.title']}</ui:define>
    </title>
    <h:outputStylesheet name="bootstrap-3.1.1/css/bootstrap.min.css" library="styles" target="head"/>
    <h:outputStylesheet name="bootstrap-3.1.1/css/bootstrap-theme.min.css" library="styles" target="head"/>
    <h:outputStylesheet name="bootstrap-3.1.1/css/theme.css" library="styles" target="head"/>
</h:head>
<ui:composition template="../templates/defaultLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:define name="menuUsers">
        <li class="active"><a>#{msg['header.menu.users']}</a></li>
    </ui:define>
    <ui:define name="content">
        <div class="row marketing">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">#{msg['users.title']}</h3>
                </div>
                <div class="panel-body">
                    <h:form>
                        <h:dataTable value="#{usersController.users}" var="user"
                                     styleClass="table table-striped table-hover table-condensed table-bordered">
                            <h:column>
                                <f:facet name="header">#{msg['users.tableHeaders.roles']}</f:facet>
                                #{user.getGroups().toString()}
                            </h:column>
                            <h:column>
                                <f:facet name="header">#{msg['users.tableHeaders.firstName']}</f:facet>
                                #{user.firstName}
                            </h:column>
                            <h:column>
                                <f:facet name="header">#{msg['users.tableHeaders.lastName']}</f:facet>
                                #{user.lastName}
                            </h:column>
                            <h:column>
                                <f:facet name="header">#{msg['users.tableHeaders.email']}</f:facet>
                                #{user.email}
                            </h:column>
                            <h:column>
                                <f:facet name="header">#{msg['users.tableHeaders.actions']}</f:facet>
                                <ul class="list-inline">
                                    <li>
                                        <h:commandButton value="#{msg['tableActions.edit']}"
                                                         styleClass="btn btn-warning btn-xs"
                                                         action="#{usersController.prepareEditUser}"/>
                                    </li>
                                    <li>
                                        <h:commandButton value="#{msg['tableActions.remove']}"
                                                         styleClass="btn btn-danger btn-xs"
                                                         action="#{usersController.removeUser}"
                                                         rendered="#{request.isUserInRole('ADMIN')}"
                                                         onclick="return confirm('#{msg['tableActions.deleteConfirmation']}')"/>
                                    </li>
                                </ul>
                            </h:column>
                        </h:dataTable>
                    </h:form>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>
</html>